body{
  text-align: center;
}
.container{
  background-image: url("../img/image1.jpg");
  height: 100vh;
  font-size: 25px;
  color:green;
}
.player1,.player2{
  background-color: red;
  float: left;
  width: 50%;
  height: 400px;
  padding: 100px;
 margin-top: 0.5em;
}
